$color_1: var(--light-color);
$color_2: red;
/* contact-map-part */
.contact-map-form {
    background: #f7f7fa;
    .main-title {
        margin-bottom: 30px;
        h2 {
            font-size: 52px;
            padding-bottom: 0;
        }
        p {
            font-size: 23px;
        }
    }
    .contact-form-width {
        margin: 0 auto;
        max-width: 484px;
    }
    .all-btn {
        text-transform: capitalize;
        padding: 20px 111px;
    }
}
.contact-rules {
    color: $color_1;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 12px;
}
.error-message {
    color: $color_2;
    font-size: 13px;
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .contact-map-form {
        .contact-form {
            padding-left: 50px;
            .contact-form-width {
                margin-top: 70px;
            }
        }
    }
}
@media screen and (min-width: 1200px) and (max-width: 1559px) {
    .contact-map-form {
        .all-btn {
            text-transform: capitalize;
            padding: 13px 61px;
        }
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .contact-map-form {
        .main-title {
            p {
                font-size: 17px;
            }
        }
        .contact-form-width {
            margin-top: 70px !important;
            .contact-input {
                input {
                    padding: 5px 15px;
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1559px) {
    .contact-map-form {
        .main-title {
            h2 {
                font-size: 38px;
            }
        }
        .contact-form-width {
            max-width: 350px;
        }
    }
    .contact-input {
        label {
            font-size: 14px;
        }
    }
    .contact-rules {
        font-size: 12px;
    }
    .error-message {
        margin-top: 10px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .contact-map-form {
        .main-title {
            h2 {
                font-size: 35px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .contact-map-form {
        .main-title {
            text-align: center !important;
            align-items: center !important;
            h2 {
                font-size: 38px;
            }
        }
        .contact-map-form-img {
            max-width: 400px;
        }
        .col-xl-6 {
            &:first-child {
                text-align: center;
                padding-bottom: 50px;
            }
        }
        .all-btn {
            text-transform: capitalize;
            padding: 14px 61px;
        }
    }
    .form-label-font {
        font-size: 13.813px;
    }
    .contact-rules {
        font-size: 12px;
    }
    .error-message {
        font-size: 12px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .contact-map-form-img {
        margin-bottom: 100px;
    }
    .contact-map-form {
        .main-title {
            justify-content: center;
            align-items: center !important;
            margin-bottom: 35px;
            h2 {
                text-align: center;
                font-size: 30px;
            }
            p {
                text-align: center;
                font-size: 15px;
                max-width: 300px;
            }
        }
        .contact-form {
            .main-title {
                margin-bottom: 35px;
            }
        }
        .contact-form-width {
            max-width: 320px;
            input {
                padding: 7px 15px;
            }
        }
        .all-btn {
            text-transform: capitalize;
            padding: 13px 54px;
        }
    }
    .center-image {
        text-align: center;
    }
    .form-label-font {
        font-size: 13px !important;
    }
    .error-message {
        font-size: 12px;
        margin-top: 10px;
    }
    .contact-rules {
        font-size: 11px;
    }
    .contact-input {
        margin-bottom: 14px;
    }
}
