/* talent bridge */
.talent-bridge-sec {
    background: var(--primary-color);
    .main-title {
        h3 {
            letter-spacing: 1.122px;
        }
    }
    .career-desc {
        p {
            max-width: 750px;
        }
    }
}
@media (min-width: 1200px) {
    .talent-bridge-sec {
        .main-title {
            margin-bottom: 70px;
        }
        .career-content.career-content-left {
            margin-top: 50px;
        }
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .talent-bridge-sec {
        .career-content {
            margin-top: 60px !important;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .talent-bridge-sec {
        .main-title {
            h3 {
                letter-spacing: -0.878px;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .talent-bridge-sec {
        .main-title {
            h3 {
                letter-spacing: 0.122px;
            }
        }
        .row {
            flex-direction: column-reverse;
        }
        .career-content {
            margin-bottom: 40px;
            span {
                letter-spacing: -1.15px;
            }
        }
        .career-desc {
            p {
                line-height: 1.6;
            }
        }
        .content-center {
            img {
                max-width: 280px;
            }
        }
    }
}

/* data privacy section  */
.data-privacy-sec {
    background: var(--white-color);
    .data-privacy-content {
        img {
            margin-bottom: 74px;
        }
        .main-title {
            p {
                font-size: 24px;
                margin-bottom: 30px;
                line-height: 1.6;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1559px) {
    .data-privacy-sec {
        .data-privacy-content {
            .main-title {
                p {
                    font-size: 23px;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .data-privacy-sec {
        .data-privacy-content {
            img {
                margin-bottom: 40px;
            }
            .main-title {
                h2 {
                    max-width: 350px;
                }
                p {
                    font-size: 23px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .data-privacy-content {
        .main-title {
            p {
                font-size: 15px;
            }
            margin-bottom: 0;
        }
    }
}
@media only screen and (max-width: 767px) {
    .data-privacy-sec {
        padding-top: 70px;
        padding-bottom: 70px;
        .data-privacy-content {
            img {
                max-width: 72px;
                margin-bottom: 40px;
            }
            .main-title {
                h2 {
                    margin-bottom: 53px;
                    padding-bottom: 0;
                }
                p {
                    font-size: 14px;
                }
                p:last-child {
                    max-width: 300px;
                    margin: 0 auto;
                }
            }
        }
    }
    .data-privacy-content {
        img {
            margin-bottom: 40px;
        }
    }
}

/* download app */
.download-app-sec {
    background: #e5eef5;
    position: relative;
    .career-content {
        position: relative;
        z-index: 1;
        h2 {
            font-weight: 800;
            font-size: 58px;
            max-width: 100%;
            span {
                font-weight: 800;
                font-size: 58px;
                max-width: 100%;
            }
        }
    }
    .download-app-mob-img {
        .main-title {
            position: relative;
            z-index: 1;
        }
    }
}
.download-app-svg {
    position: absolute;
}
.download-app-img {
    img {
        position: relative;
        background: #d9d9d9;
        box-shadow:
            0px 35.946px 54.795px 0px rgba(0, 0, 0, 0.15),
            0px -5.699px 24.987px 0px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }
}
.download-app-scan {
    h4 {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: -1.096px;
        line-height: 1.5;
    }
}
@media screen and (min-width: 1200px) {
    .download-app-img {
        img {
            min-width: 260px;
        }
    }
    .download-app-scan {
        margin-right: 65px;
    }
    .download-app-sec {
        .download-app-mob-img {
            padding-left: 120px;
        }
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .download-app-sec {
        .career-content {
            padding-left: 144px;
            h2 {
                font-size: 42px;
                span {
                    font-size: 42px;
                }
            }
        }
        // .download-app-mob-img {
        //     padding: 0 20px;
        // }
    }
}
@media (min-width: 992px) and (max-width: 1559px) {
    .download-app-sec {
        .career-content {
            h2 {
                font-size: 42px;
                span {
                    font-size: 42px;
                }
            }
        }
    }
    .download-app-scan {
        h4 {
            font-size: 16px;
        }
        img {
            max-width: 144px;
        }
    }
    .download-scan {
        img {
            width: 180px;
            height: 180px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .download-app-sec {
        .career-content {
            h2 {
                font-size: 32px;
                span {
                    font-size: 32px;
                }
            }
        }
        .download-app-svg {
            img {
                max-width: 300px;
            }
        }
    }
    .download-app-scan {
        img {
            max-width: 120px;
        }
        h4 {
            font-size: 14px;
        }
    }
    .download-scan {
        img {
            width: 140px;
            height: 140px;
        }
    }
}
@media only screen and (max-width: 767px) {
    .download-app-sec {
        padding: 60px 20px;
        .download-app-svg {
            top: -120px;
            bottom: 0;
            display: flex;
            max-width: 270px;
        }
        .main-title {
            h2 {
                line-height: 1.5;
                padding-bottom: 0;
                margin-bottom: 5px;
            }
            p {
                font-size: 15px;
                margin-bottom: 0;
                line-height: 1.6;
            }
            .career-desc {
                font-size: 15px;
            }
        }
        .download-app-img {
            img {
                border-radius: 30px;
            }
        }

        .career-content {
            h2 {
                font-size: 30px;
                text-align: start;
                span {
                    font-size: 30px;
                    text-align: start;
                }
            }
            p {
                text-align: start;
            }
            .download-app-scan {
                flex-direction: column;
                margin-top: 50px;
                h4 {
                    font-size: 14px;
                    margin-bottom: 34px;
                    margin-top: 36px;
                }
                img {
                    max-width: 150px;
                }
                .download-scan-img {
                    width: 160px;
                    height: 160px;
                    max-width: 160px;
                }
            }
        }
    }
}
