// Footer css will be goes here
$color_1: var(--white-color);
$color_2: var(--primary-color);
$color_3: #c1c6cf;
/* footer section  */
.footer {
    background: var(--primary-hover-color);
    padding-top: 50px;
}
.footer-logo-social {
    margin-bottom: 60px;
}
.footer-social-icon {
    span {
        font-size: 22px;
        font-weight: 600;
        text-transform: capitalize;
        margin-right: 26px;
    }
    ul {
        li {
            a {
                width: 38px;
                height: 38px;
                border: 2px solid #c1c6cf;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 25px;
                transition: all 0.4s;
                img.social-hover-svg {
                    display: none;
                    transition: all 0.4s;
                }
                &:hover {
                    border: 2px solid var(--border-primary-color);
                    img.social-svg {
                        display: none;
                    }
                    img.social-hover-svg {
                        display: block;
                    }
                }
            }
            &:last-child {
                a {
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
}
.footer-link {
    li {
        a {
            color: $color_1;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
            margin-right: 34px;
            padding-right: 34px;
            &:hover {
                color: $color_2;
            }
        }
        &:last-child {
            a {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}
.footer-second-link.footer-link {
    li {
        a {
            border-right: 1px solid var(--border-white-color);
            font-weight: 400;
        }
        &:last-child {
            a {
                border-right: none;
            }
        }
    }
}
.footer-mail {
    svg {
        width: 22px;
        height: 22px;
    }
    span {
        font-size: 20px;
        margin-left: 10px;
    }
}
.footer-copyright {
    border-top: 1px solid rgba(229, 238, 245, 0.3);
    color: $color_3;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 50px;
    a {
        border-bottom: 1px solid #c1c6cf;
        font-size: 21px;
    }
    span {
        font-size: 21px;
    }
}
@media (min-width: 992px) and (max-width: 1559px) {
    .footer-logo {
        img {
            max-width: 206px;
        }
    }
    .footer-social-icon {
        span {
            font-size: 16px;
        }
    }
    .footer-link {
        li {
            a {
                font-size: 16px;
                margin-right: 20px;
                padding-right: 20px;
            }
        }
    }
    .footer-mail {
        span {
            font-size: 15px;
        }
    }
    .footer-copyright {
        span {
            font-size: 15px;
        }
        a {
            font-size: 15px;
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .footer-mail {
        span {
            font-size: 14px;
            margin-left: 5px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .footer-social-icon {
        span {
            font-size: 15px;
        }
        ul {
            li {
                a {
                    margin-right: 18px;
                }
            }
        }
    }
    .footer-link {
        li {
            a {
                font-size: 15px;
                margin-right: 15px;
                padding-right: 15px;
            }
        }
    }
    .footer-mail {
        span {
            font-size: 15px;
        }
    }
    .footer-copyright {
        span {
            font-size: 15px;
        }
        a {
            font-size: 15px;
        }
    }
    .footer-menu-email {
        > div {
            &:nth-child(1) {
                margin-bottom: 30px;
            }
        }
    }
    .footer-second-link {
        .justify-content-center {
            justify-content: start !important;
        }
    }
    .footer-copyright-logo {
        img {
            max-width: 156px;
        }
    }
    .footer-logo {
        img {
            max-width: 164px;
        }
    }
    .footer-logo-social {
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .footer-logo-image {
        max-width: 165px;
    }
    .footer-mail {
        align-items: start !important;
        flex-direction: column;
    }
    .ul-flex {
        flex-direction: column !important;
    }
    .footer-second-link {
        ul {
            flex-direction: column;
            align-items: start !important;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    .footer-mb-3-first {
        margin-bottom: 38px;
    }
    .footer-mb-3-sec {
        margin-bottom: 27px;
    }
    .footer-mb-3-third {
        margin-bottom: 22px;
    }
    .footer-link {
        li {
            a {
                font-size: 16px;
                margin-right: 0;
                padding-right: 30px;
            }
        }
    }
    .footer-second-link.footer-link {
        li {
            a {
                border-right: none;
                margin-right: 0;
                padding-right: 0;
                margin-bottom: 15px;
            }
        }
    }
    .footer-social-icon {
        span {
            font-size: 14px;
            margin-right: 0;
            margin-bottom: 15px;
            margin-left: 0;
        }
        flex-direction: column;
        align-items: flex-start !important;
        margin-bottom: 30px;
    }
    .footer-mail {
        span {
            font-size: 15px;
        }
    }
    .footer-copyright {
        margin-top: 30px;
        a,
        span {
            font-size: 15px;
        }
    }
}